body {
  background-color: #E8C9CF;
  background: url("https://images.unsplash.com/photo-1677022733442-99d2d7c60c6f?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.text-box {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 90px;
      padding-top: 100px;
      padding-bottom: 100px;
      border-radius: 0px;
      
    }

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#sectionHeader{
  color: white;
}

#paragraphText{
  color: #fffcf2;
}
#profilePic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px auto 20px;
    display: block;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);

}

html { scroll-behavior: smooth; }
/* Adjust this to AppBar height */
section { scroll-margin-top: 88px; }
main { max-width: 1200px; margin: 0 auto; padding: 24px; }